<link rel="stylesheet" href="{% static 'css/navbar/bootstrap.min.css %'}">
<link rel="stylesheet" href="{% static 'css/navbar/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/gijgo.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/slicknav.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/style.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar/responsive.css' %}">
